.wrapper {
  width: 900px;
  height: 1250px;
  margin: auto;
  padding: 20px;
  background-color: #ffffff;
}

body {
  background: url(../images/backw.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: arial ;
}

img {
  float:left;
  padding-right: 20px;
  padding-bottom: 10px;
  height: 250px;
  width: 370px;
}

.block1 {
  display: inline-block;
  width: 70%;
  padding-bottom: 35px;
}

.block2 {
  display: inline-block;
  width: 25%;
  padding-bottom: 76px;
  vertical-align: top;
}

.border {
border-bottom: 1px solid;
border-color: #808080;
}

.block3 {
  display: inline-block;
  width: 70%;
}

.block3 h2 {
  padding-bottom: 40px;
}

.block4 {
  float: right;
  display: inline-block;
  width: 25%;
  padding-left: 20px;
  text-align: left;
}

.outer-block {
  padding-top: 40px;
  text-align: center;
  margin-left: -10px;
}

ol li {
  list-style: none;
  position: relative;
}

ol li::before {
  border-radius: 20px;
  content: '';
  height: 25px;
  width: 25px;
  position: absolute;
  left: -35px;
  background-color: #00BFFF;
  top: 0px;
}

ol li:first-child::before {
  content: '1';
  text-align: center;
  line-height: 25px;
  color: #ffffff;
}

ol li:nth-child(2)::before {
  content: '2';
  text-align: center;
  line-height: 25px;
  color: #ffffff;
}

ol li:nth-child(3)::before {
  content: '3';
  text-align: center;
  line-height: 25px;
  color: #ffffff;
}

.inner-block {
  position: relative;
  width: 180px;
  height: 200px;
  padding: 10px;
  background-color: #D3D3D3;
  color: auto;
  text-align: left;
  line-height: auto;
  border-radius: 7px;
}

.inner-block p {
  display: inline-block;
  position: relative;
  text-indent: 20px;
}

.inner-block p::before {
  content: '\201c';
  display: block;
  position: absolute;
  left: -10px;
}

.inner-block p::after {
  content: '\201d';
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 90px;
}

.inner-block::before,
.inner-block::after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
}

.inner-block::before {
  border-top: 32px solid ;
  border-left: 32px solid transparent ;
  border-right: 32px solid transparent ;
  bottom: -31px;
  left: 80px;
  color: #000000;
}

.inner-block::after {
  border-top: 30px solid ;
  border-left: 30px solid transparent ;
  border-right: 30px solid transparent ;
  bottom: -29px;
  left: 82px;
  color: #D3D3D3;
}

.block5 {
  width: 600px;
}

.block5 li {
  position: relative;
  list-style: none;
  display: inline-block;
  margin-right: 60px;
  line-height: 40px;
  font-weight: bold;
}

ul li::before {
  display: block;
  content: '\2192';
  position: absolute;
  color: #00BFFF;
  left:-30px;
}
