body {
  background: url("https://cmkt-image-prd.global.ssl.fastly.net/0.1.0/ps/57722/4800/3600/m1/fpnw/wm1/sea-background02-.jpg?1386948776&s=c5fe98625f42eb198c0ececd0561fc81");
  background-position: center;
  background-size: cover;
}

img {
  width: 100%;
}

li {
  display: inline-block;
  margin-right: 20px;
  line-height: 30px;
}

.wrapper {
  width: 480px;
  height: auto;
  margin: auto;
  padding: 20px;
  background-color: white;
}

.block-3 {
  border-bottom: 1px solid;
}
